<div class="flex items-center bg-white">
  <div class="container mx-auto">
    <div class="max-w-md mx-auto my-10">
      <div class="text-center">
        <h1 class="my-3 text-3xl font-semibold text-gray-700">Sign up</h1>
      </div>
      <div class="m-7">
        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
          <div class="mb-4">
            <label for="username" class="block mb-2 text-sm text-gray-600"
              >Username</label
            >
            <input
              [formControlName]="'username'"
              type="text"
              name="username"
              id="username"
              placeholder="user123"
              class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-indigo-300"
            />
            <span
              class="font-light text-sm"
              *ngIf="
                !signupForm.get('username')?.valid &&
                signupForm.get('username')?.touched
              "
            >
              Please provide a valid username
            </span>
          </div>
          <div class="mb-4">
            <label for="email" class="block mb-2 text-sm text-gray-600"
              >Email Id</label
            >
            <input
              [formControlName]="'email'"
              type="email"
              name="email"
              id="email"
              placeholder="you@accolitedigital.com"
              class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-indigo-300"
            />
            <span
              class="font-light text-sm"
              *ngIf="
                !signupForm.get('email')?.valid &&
                signupForm.get('email')?.touched
              "
            >
              Please provide a valid email
            </span>
          </div>
          <div class="mb-4">
            <div class="flex justify-between mb-2">
              <label for="password" class="text-sm text-gray-600"
                >Password</label
              >
            </div>
            <input
              [formControlName]="'password'"
              type="password"
              name="password"
              id="password"
              placeholder="Your Password"
              class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-indigo-300"
            />
            <span
              class="font-light text-sm"
              *ngIf="
                !signupForm.get('password')?.valid &&
                signupForm.get('password')?.touched
              "
            >
              Please provide a valid Password
            </span>
          </div>
          <div class="mb-6">
            <button
              [disabled]="!signupForm.valid"
              type="submit"
              class="w-full px-3 py-4 text-white bg-blue-600 hover:bg-blue-500 rounded-md focus:bg-indigo-600 focus:outline-none disabled:bg-gray-300"
            >
              Sign up
            </button>
          </div>
          <p class="text-sm text-center text-gray-400">
            Already have an account?
            <a
              routerLink="/login"
              class="text-[#0079D3] focus:outline-none focus:underline focus:text-indigo-500"
              >Login</a
            >.
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
